---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<div class="nav">
  <div class="shell nav-inner">
    <div class="nav-left">
      <a href="/" class="brand">
        <span class="brand-mark">aic<span class="brand-caret"></span></span>
        <span class="brand-full">/ aicommit</span>
      </a>
      <nav class="nav-links">
        <a href="/#features">Features</a>
        <a href="/#flows">Flows</a>
        <a href="/#providers">Providers</a>
        <a href="/#visualizations">Maps</a>
        <a href="/#install">Install</a>
        <a href="/docs">Docs</a>
      </nav>
    </div>
    <div class="nav-right">
      <ThemeSwitcher />
      <a class="btn" href="https://github.com/russmckendrick/aicommit" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a class="btn btn-primary" href="/#install">Install</a>
    </div>
  </div>
</div>
